:root
    {
        /* backgrounds */
        --loading-bg: #fff;
        --background-color: #fff;
        --search-background-color: #fff0;
        /* textes */
        --placeholder-text-color: black;
        --button-text-color: #fff;
        --text-color: black;
        
        --red-text-color-2: #ca4c4d;
        --red-text-hover-color: #cf5557;
        --red-text-color:#c63e40;
        /* checkbox */
        --form-control-color:#ca4c4d;
        /* buttons */
        --red-button-color-1:#a72628;
        --red-button-color-2:#ca4c4d;
        --red-button-hover-color-1:#c63e40; /* ??? */
        --red-button-hover-color-2:#c63e40;
        /* borders */
        --search-shadow-color: #719ece;
        
        --border-color: black;
        --border-arrow-color: #000;
}