:root
    {
        --text-size-small: 20px;
        --text-item-size: 25px;
        --text-size-title-p2: 30px;
        --text-size-big: 55px;
        --p1-gap: 15%;
        --p2-gap: 50px;
        --p2-padding: 4%;
        --main-padding: 8%;
        --logo-size: 200px;
        --sw-size: 35px;
        --search-height: 30px;
        --search-width: 450px;
        --p1-text-mr: 20%; 
        --text-font-family: 'Poppins', sans-serif;
        --border-rad: 2px;
        --border-rad-hover: 4px;
        --gap-title-filters-mainpage: 13px;
        --search-arrow-height-p2: 55px;
    }
    @media only screen and (max-width: 1500px) {#man {display: none} div{--p1-text-mr: 0px; } }
    
    @media only screen and (min-width: 3500px) {
        img{
            --logo-size: 600px;
            --sw-size: 100px;
        }
    }   
    @media only screen and (min-width: 2500px)and(max-width: 3500px) {
        img{
            --logo-size: 400px;
            --sw-size: 70px;
        }
    }   
    @media only screen and (max-width: 1050px) {
        img{
            --logo-size: 100px;
            --sw-size: 17px;
        }
        .imgp2{
            display: none;
        }
    }   
    @media only screen and (max-width: 600px) {
        img{
            --logo-size: 50px;
            --sw-size: 8px;
        }
    }   