.theme_switch{
    height: var(--sw-size);
    width: var(--sw-size);
}
#logo{
    order: -10;
    height: auto;
    width: var(--logo-size);
    object-fit: contain;
}
/*Search Input*/
.search-input:focus{
    outline: none !important;
    border-color: var(--search-shadow-color);
    box-shadow: 0 0 10px var(--search-shadow-color);
    clip-path: inset(-5px 0px -5px -5px);
}

.search-input:focus + .search-input-img{
    outline: none !important;
    border-color: var(--search-shadow-color);
    box-shadow: 0 0 10px var(--search-shadow-color);
    clip-path: inset(-5px -5px -5px 0px);
}
/**/
.bar{
    margin-top: var(--p2-gap);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-block: 50px;
    margin-inline: var(--main-padding);
}
.search_container{
    order: 0;
    display: flex;
    border: var(--border-rad) solid var(--border-color);
}
.search-input {
    padding-left: 20px;
    padding-right: 40px;
    width: 450px;
    height: 45px;
    padding-block: 5px;
    font-size: large;
    border-width: 0;
}
::placeholder {
    color: var(--placeholder-text-color);
}
.search-input-img {
    padding-right: 10px;
    width: 30px;
    line-height: 27px;
    text-align: center;
    pointer-events: none;
    object-fit: none;
}
/**/
