.check_box_filter{
    outline: none;
    border-radius: 0px;
    border: var(--border-rad) solid var(--border-color);
}
.check_box_filter:checked + .label_filter{
    background-color: green;
}
.check_box_filter:not(:checked) + .label_filter{
    background-color: red;
}
.filter_box{
    width: max-content;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: max-content max-content;
    gap: 8px;
    padding: 10px;
    border: var(--border-rad) solid var(--border-color);
}
.filter_box_title{
    font-weight: bold;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: var(--button-text-color);
    background-color: var(--red-button-color-2);
    height: 45px;
    text-align: center;
}
.filter_box_info_container{
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: 20px;
}
.filter_element{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
}
/*  */
.label_filter{
    display: inline;
    font-size: 20px;
    font-weight: 400;
}