.school_main_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 50px;
}
.info_box{
    width: max-content;
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: max-content max-content;
    gap: 8px;
    padding: 10px;
    border: var(--border-rad) solid var(--border-color);
}
.info_box:hover{
    box-shadow: 0px 0px 0px 2px var(--border-color);
}
.info_box_title{
    font-weight: bold;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: var(--button-text-color);
    background-color: var(--red-button-color-2);
    height: 45px;
    text-align: center;
    padding-inline: 1em;
    padding-block: 0.3em;
}
.info_box_info_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*justify-items: center;*/
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: 20px;
}
.info_box_info{
    pointer-events: none;
    order: -10;
    display: inline;
    font-size: 20px;
    font-weight: 400;
}