/* SChool Elements*/
.school_element{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    border: var(--border-rad) solid var(--border-color);
    width: 1000px;
}
.s_e_main_grid{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    gap: 15px;
}
.s_e_second_grid{
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 10px;
}
.s_e_title_grid{
    flex-grow:2;
    display: grid;
    max-width: 820px;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content;
}
/**/
.s_e_about_conatiner{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items:center;
}
.s_e_rate_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
/* IMG */
.arrow-img{
    height: 35px;
    width:  35px;
    transform:rotate(-90deg);
}
.rate-img{
    height: 15px;
    width: 15px;
}
.info_img{
    height: 30px;
    width: 30px;
}
.s_e_logo{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
/* Button */
.s_e_button_viac{
    color: var(--button-text-color);
    font-family: var(--text-font-family);
    font-size: 20px;
    background-color: var(--red-button-color-2);
    border: 0px;
    padding: 0.5em;
    padding-inline: 1.5em;
    height: 40px;
}
.s_e_button_viac:hover{
    background-color: var(--red-button-hover-color-2);
}
/* Tetx */
.s_e_title{
    font-size: 25px;
    font-weight: bold;
}