.page_arrow{
    height: 20px;
    width: 20px;
    padding: 2px;
    border: var(--border-rad) solid var(--border-arrow-color);
    cursor: pointer;
}
.page_arrow_clicked{
    height: 20px;
    width: 20px;
    padding: 2px;
    border: var(--border-rad) solid var(--border-arrow-color);
    cursor: pointer;
    filter:invert(22%) sepia(40%) saturate(3996%) hue-rotate(339deg) brightness(86%) contrast(95%);
}
.page_arrow:hover{
    filter:invert(40%) sepia(67%) saturate(777%) hue-rotate(314deg) brightness(83%) contrast(89%);
}
/* .search_main_grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
} */
/*  */
.search_main_grid{
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 50px;
}
.search-input {
    order: -1;
    height: 34px !important;

}
/*  */
.school_elements_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    gap: 15px;
    margin-left: 50px;
}
.filters_grid{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.pages{
    padding: 5px;
    gap:15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.noneSchool{
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--red-text-color-2);
}
/**/
.s_es_inp{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 1034px;
}
/**/
.zmazat_filtre{
    color: var(--button-text-color);
    font-family: var(--text-font-family);
    font-size: 20px;
    background-color: var(--red-button-color-2);
    border: 0px;
    padding: 0.5em;
    width: 100%;
    height: 50px
}
.zmazat_filtre:hover{
    background-color: var(--red-button-hover-color-2);
}