body {
    padding-top: 30px;
    margin: 0%;
}
#main{
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);

    display: grid;
    grid-template-rows: max-content max-content 100vh;

    grid-gap: 40px;
}
#blackBox{
    background-color: black;
    width: 100%;
    height: 350px;
}
.page{
    position: relative;
    height: 100%;
    width: 100%;
}
/* PAGE 2 FILTERS */
.selectItem{
    width: max-content;
}
.selectGrid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: min-content min-content;
}
.rowGrid{
    grid-gap: 30px;
    display: grid;
    grid-template-columns: min-content min-content;
}
.selectGridMain{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    grid-gap: var(--p2-gap);
}
.text-container{
    display: inline;
    height: 35px;
    min-width: 300px;
    max-width: 550px;
    width: max-content;
    text-align: center;
    align-items: center;
}
.elToSel{
    font-family: var(--text-font-family);
    color: var(--black-text-collor);
    font-size: var(--text-item-size);
    font-weight: bold;
}
.elToSel:hover,input[type=checkbox]:checked:hover + label:hover,.text-container:hover *{
    color: var(--text-hover-collor);
    font-weight: 900;
}
input[type=checkbox]:checked + label{
    font-weight: 700;
    color: var(--red-text-collor);
}
input[type=checkbox]{
    width: 0px;
    height: 0px;
    display: none;
    border: 0px;
    margin: 0px;
}
.contTitle{
    font-weight: 700;
    font-size: var(--text-size-title-p2);
    margin-left: 5%;
    margin-bottom: 2%;
}
.img{
    height: 200px;
    width: 200px;
}
.buttonSearch{
    color: var(--white-text-color);
    font-family: var(--text-font-family);
    font-size: 30px;
    margin: 0 auto;
    background-color: var(--red-button-collor);
    border: 0px;
    padding: 0.5em;
    padding-left: 2.2em;
    padding-right: 2.2em;
}
.buttonSearch:hover{
    background-color: var(--red-button-collor-hover);
    
}
#app{
    display: flex;
}
.test{
    margin: var(--p2-gap) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p2-gap);
}
#page2{
    height: max-content;
}
/* */
img{
    object-fit: cover;
}
.noselect{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

