.text, a, h1,div{
    font-family: var(--text-font-family);
}
.bar-p1{
    position: relative;
    width: 100%; 
    height: min-content;
}
#search{
    font-size: var(--text-size-small)-1px;
    font-weight: bold;
    padding: 1em;
    padding-left: 1em;
    margin-top: 2.5em;
    height: var(--search-size);
    width: var(--search-len);
    border: var(--border-rad) solid var(--border-coll);
    outline: none;
}

.text-big{
    margin: 0%;
    font-size: var(--text-size-big);
    color: var(--red-text-collor);
}
.text-small{
    margin-left: 3em;
    margin-bottom: 1em;
    font-size: var(--text-size-small);
    color: var(--red-text-collor);
}


.text-p1{
    height: max-content;
    text-align: center;
    align-items: center;
    margin-top: var(--p1-gap);
    margin-bottom: var(--p1-gap);
    margin-right: var(--p1-text-mr);
}
.text-p2{
    height: max-content;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
}